.amount-unit{
	vertical-align: top;
	display: inline-block;
}
.amount, .unit, .RecycleClass, .comment, .material {
	vertical-align: baseline;
	margin: 5px 15px 5px 0;
}

.material, .fuzzy{
	display: inline-block;
}

.material{
	vertical-align: middle;
}

.amount, .RecycleClass{
}

.fuzzy > div{
	padding: 0 !important;
	box-shadow: none !important;
}